.home {
  padding: 2rem 0;
  margin-top: 35px;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;

  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 0.5px solid transparent;
  background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 10px;
  background: black;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
    /* Outer background (the gradient for the border) */
  background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 6px; /* Works with this method */
  border: 2px solid transparent; /* Essential: makes the border visible */
}

.search-button {
  padding: 0.75rem 1.5rem;
  background: linear-gradient(90deg, #8E2DE2 0%, #5828b8 100%);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #f40612;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
    margin-top: 70px;
  }

  .search-form {
    margin-bottom: 1rem;
  }
  .movies-grid{
    display: grid;
  /* This creates two equal columns */
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
  padding: 10px;
  }
}


